.digital-watch-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
time {
  position: absolute;
  margin-top: 60px;
}
.digital-watch-display {
  display: flex;
  flex-direction: raw;
  height: fit-content;
}
