.container {
  width: 100%;
  min-width: 600px;
  min-height: 300px;
  max-width: 600px;
  margin: auto;
  border: 1px solid gray;
}
.container-btn {
  padding: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.container-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 50%;
}
.digital-watch-animation {
  animation: digital-watch-animation 1s linear infinite;
}

@keyframes digital-watch-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

