@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
ul {
  padding: 10px;
}
.icon {
  font-size: 70px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fbfbfb;
  text-shadow: 0 0 10px#5fead1;
}
ul {
  display: flex;
  padding: 5px;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: #4a4d55;
}
ul li {
  margin: 10px;
}
